--model
unet
--device
auto
--image-root
../images/
--output-dir
../../../../train_out/{model}/{date:%Y%m%d_%H%M%S}
--context
0
--epochs
30
--early-stop-patience
4
--batch-size
8
--split-type
rand
--label-usage
train_samp
--base-channels
64
--lr
1e-4
--aug-elastic
--aug-elastic-alpha
10.0
--aug-elastic-grid
3
--aug-expand
16